<calendar-entry data-category="<%= category %>">
  <time datetime="<%= occurrence %>"><%= occurrence.strftime("%H:%M") %></time>
  <h4><%= title %></h4>
  <strong><%= subtitle %></strong>
  <p><%= location %></p>
</calendar-entry>
